/* All text settings*/
* {
    font-family: "Helvetica", sans-serif;
    font-weight: 700; /* Use a value from 100 to 700 */
    font-style: normal;
    color: #00a650;
}

/* Link settings */
a {
    text-decoration: none;
}

.container {
    padding: 30px;
}

/* Navbar settings */
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar-nav a {
    font-family: "Helvetica", sans-serif;
    font-weight: 700; /* Use a value from 100 to 700 */
    font-style: normal;
    color: #00a650;
}

h1 {
    text-align: center;
    font-size: 7vw;
    font-weight: 700;
}

.btn {
    background-color: #00a650;
    color: white;
    border: 2px solid #00a650;
    width: 100%;
}
.btn:hover {
    background-color: white;
    color: #00a650;
    border: 2px solid #00a650;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.row{
    --bs-gutter-x: 0px;
}

.name-caption {
    text-align: center;
    padding: 5px;
    border: 1px;
    display: block;
    background-color: #f8f9fa;
    border-radius: 10px;
    font-weight: 700;
}

#testimonials {
    background-color: #00a650;
}

#testimonials p {
    color: white;
}

.blockquote-footer {
    color: white;
}

/* What we do styles */
#what-we-do {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: flex;
    align-items: center;
}
#what-we-do * {
    color: white;
}
#what-we-do .active {
    border: 2px solid white;
}
.services-btn {
    position: absolute;
    padding: 5px;
    background-color: transparent;
    border: 0px;
    border-radius: 0;
    width: 45%;
    text-align: left;
    display: flex;
    align-items: center;
    left: 10%;
}
.services-btn:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.services-btn strong {
    margin: 0;
    padding-left: 10px;
    white-space: nowrap;
    font-size: calc(20px + .3vw);
}
.services-btn:nth-child(3) {
    top: 25%;
}
.services-btn:nth-child(4) {
    top: 40%;
}
.services-btn:nth-child(5) {
    top: 55%;
}
.services-btn:nth-child(6) {
    top: 70%;
}
.services-btn:nth-child(7) {
    top: 85%;
}

.services-photos {
    width: 100%;
    opacity: 0.7;
    display: block;
}

#services-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#socials {
    text-align: center;
}

.social-icon {
    font-size: calc(32px + 1.5vw);
}

#footer {
    position: relative;
}
#footer a {
    font-family: "Helvetica", sans-serif;
    font-weight: 700; /* Use a value from 100 to 700 */
    font-style: normal;
    color: #00a650;
}

#footer-logo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-button:not(.collapsed) {
    background-color: white;
}

.subtitle {
    text-align: center;
    font-style: italic;
}

.equipment-list {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.list-title {
    text-align: center;
}

dt {
    font-size: calc(20px + .3vw);
    font-weight: 700;
}

/* Media settings */
@media (max-width: 750px) {
    .navbar-brand {
        top: 20%;
    }
}
@media screen and (min-width: 700px) {
    .services-btn {
        width: 45%;
    }
}
@media screen and (max-width: 700px) {
    .services-btn {
        width: 65%;
    }
}
@media screen and (max-width: 900px) {
    #sitemap {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #footer-logo {
        display: none;
    }
}
